// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/* Footer */
footer {
    padding-top: 120px;
        padding-bottom: 100px;
    color: #fff;
    & a {
        color: #fff;
    }
}
.footer-link li a {
    text-decoration: underline;
    color: #fff;
    &:hover {
        color: #fff;
    }
}